name: "Deploy all to DEV"
on:
  workflow_dispatch:

permissions:
  packages: write
  repository-projects: write
  contents: write
  id-token: write

jobs:
#  deploy-cpa-sync:
#    uses: ./.github/workflows/cpa-sync-deploy-dev.yaml

  deploy-ebms-send-in:
    uses: ./.github/workflows/ebms-send-in-deploy-dev.yaml
