name: "Naisjob cpa sync"
on:
  workflow_dispatch:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - .github/workflows/jobs.yaml
      - .nais/naisjob-cpasync.yaml
      - DockerfileCpaSyncJob
jobs:
  build:
    permissions:
      contents: read
      id-token: write
    runs-on: "ubuntu-latest"
    name: "runjob"  
    steps:
      - uses: "actions/checkout@v5"
      - name: Docker build and push
        uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: team-emottak # required
          tag: ${{ github.sha }}
          dockerfile: DockerfileCpaSyncJob # optional, default Dockerfile
          image_suffix: cpa-sync-job
      - name: "Naisjob CpaSync deploy DEV"
        uses: "nais/deploy/actions/deploy@v2"
        env:
          CLUSTER: "dev-fss"
          RESOURCE: ".nais/naisjob-cpasync.yaml"
          IMAGE: ${{ steps.docker-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-push.outputs.telemetry }}
      - name: "Naisjob CpaSync deploy PROD"
        uses: "nais/deploy/actions/deploy@v2"
        if: github.event_name == 'workflow_dispatch'
        env:
          CLUSTER: "prod-fss"
          RESOURCE: ".nais/naisjob-cpasync.yaml"
          IMAGE: ${{ steps.docker-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-push.outputs.telemetry }}